@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Internet Meme Catalog</h1>
    <p class="lead">Save all your favorite cat pictures, demotivators, and other memes in one convenient place.</p>
</div>

<div class="row">
    <div class="col-xs-offset-2">
        <h2>Login:</h2>
        <p>
            Enter Meme catalog
        </p>
        <p><a class="btn btn-default" href="/Collector.aspx">Login &raquo;</a></p>
    </div>
</div>